@import url("./reset.css");

*{
    box-sizing: box-border;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    text-align: center;
    padding: 40px;
    background:  rgb(102, 115, 198);
    color: black;
}


/* Navigation Bar */

nav {
    display: flex;
    columns: white;
    text-align: right;
}

.nav-default{
    background-color: rgb(196, 123, 187);
    color: white;
    border-color: black;
    font-family: cursive;

}

.nav-default>ul>li{
    padding: 8px 10px;
    font-size: 40px;
    color: white;
}

.nav-default>ul>li>a:hover{
   box-shadow: 0 4px 10px black;
   font-size: 3.2rem;
}


:root{
    --primary: aqua;
}

/* Main section */

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
}

aside {
    flex: 1;
    background-color: lightgray;
    padding: 20px;
    color: white;
}

section {
    flex: 3;
    background-color: rgb(196, 123, 187);
    padding: 20px;
    color: white;
}


.text-white{
    color: white;
}

.d-flex{
    display: flex;
    color: white;
}

h1 {
    font-size: 50px;
    font-family: cursive;
}

h2 {
    font-family: cursive;
}

p {
    font-size: 24px;
    padding-top: 20px;
    font-family: fantasy;
}

.no-decoration {
    text-decoration: none;
}

img {
max-width: 100%;
max-height: 100%;
}


  footer{
    padding: 20px;
    text-align: center;
    background: rgb(102, 115, 198);
    color: #fff;
    font-family: cursive;
  }


  @media screen and (max-width: 768px) {

    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: lightgreen;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: lightgreen;
    }
  }




  /* How to make nav bar text white? */
/* How to align nav bar to the right? */
/* How to scroll to my portfolio when I click on Portfolio */
/* Add contact me funtion */
/* Link the text at the bottom of the page to github */
/* Link to Linkedin when you click on my image */
